<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Resturant</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                <li class="nav-item"><a class="nav-link active" routerLink="Add">Add Resturant</a></li>
                <li><a class="nav-link active" routerLink="list">List Resturant</a></li>
                <li><a class="nav-link active" routerLink="register">Registration</a></li>
                <li><a class="nav-link active" routerLink="login">Login</a></li>
                <!-- <li><a class="nav-link active" routerLink="update">Update Resturant</a></li> -->


            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
    <div>
        <p class="p">
            Copyright Resturant Registration 2022
        </p>
    </div>
</div>